<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <form class="login100-form validate-form">
                <span class="login100-form-title">
                    Member Login
                </span>

                <div class="wrap-input100 validate-input" data-validate = "insira um usuario valido">
                    <input class="input100" type="text" name="Usuario" placeholder="Usuario">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "insira a senha">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>



<!--div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div>
                <div>
                    <input class=imput-Login placeholder="usuario" formControlName="usuario">
                    <label class="active" for="first_name2"></label>
                </div-->

                <!--div>
                    <input class=imput-Login type="password" placeholder="senha" formControlName="senha">
                </div
                <form class="login100-form validate-form">
					<span class="login100-form-title">
						Member Login
					</span>

                    <div class="row">
                        <input [ngModel]="usuario.nome" id="usuario" type="text" class="imput-Login" placeholder="usuario">
                        <label class="active" for="usuario"></label>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="row">
                        <input id="senha" type="password" class="imput-Login" placeholder="senha">
                        <label class="active" for="senha"></label>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit" name="action" (click)="fazerLogin()">Login</button>
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">Forgot</span>
                        <a class="txt2" href="#">Username / Password?</a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="#">
                        Create your Account
                        </a>
                    </div>
                </form>
            </div>
        </div>   
    </div>
</div-->