<nav *ngIf="mostrarMenu" class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/login" routerLinkActive="active"
    >Loja</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio" routerLinkActive="active"
          >Início</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lista" routerLinkActive="active"
          >Listar</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pesquisar" routerLinkActive="active"
          >Pesquisar</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adicionar" routerLinkActive="active"
          >Cadastrar</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/atualizar" routerLinkActive="active"
          >Atualizar</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/excluir" routerLinkActive="active"
          >Excluir</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout" routerLinkActive="active"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
